<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Link to Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <script>
        function sendingE() {
            var d = document.getElementById("email").value;

            if (d.indexOf('@') <= 0) {
                document.getElementById("message2").innerHTML = "****wrong @";
                return false;
            }
            if ((d.charAt(d.length - 4) != '.') && (d.charAt(d.length - 3) != '.')) {
                document.getElementById("message2").innerHTML = "****invalid . position";
                return false;
            }
            // If validation passes, return true

        }
    </script>
    <div class="container mt-5">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="field">
                    <label class="label">Enter Your Email</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Email" id="email" name="email">
                        <span id="message2"></span>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <a href="http://localhost:3000/sending" class="button is-primary" onclick="return sendingE()">Send Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
