<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container has-text-centered mt-6">
        <h1 class="subtitle is-1 has-text-centered mt-6 has-background-warning has-text-black p-4 rounded">Welcome To Registration Form</h1>
    </div> 
</body>

</html>